.list-group {
    border-radius: 4px;

    .list-item {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;

        .list-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #000;

                &.through {
                    text-decoration: line-through;
                    color: #ccc;
                }

                .list-checkbox {
                    margin-right: 14px;
                    width: 18px;
                    height: 18px;
                }
            }

            .delete {
                border: none;
                background: transparent;
            }
        }
    }

}